name: Generate go.sum

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Generate go.sum
        run: |
          rm -f go.sum
          go mod tidy

      - name: Commit go.sum
        run: |
          git config --global user.email "bot@example.com"
          git config --global user.name "GitHub Actions"
          git add go.sum
          git commit -m "Generate go.sum" || echo "No changes"
          git push
